@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Joan&family=Roboto:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin:0;
}
.wrapper {
    background-color:#FAEEDE;
 
}
h1 {
    margin-top:10px;
    margin-bottom: 5px;
}
.box p {
    color:red;
}
.box {
    margin:10px;
    height:auto;
    width:auto;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
}
.about {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.6;
    font-size: 18px;
    border-style: solid;
    margin:20px;
    margin-left:100px;
    margin-right: 100px;
    background-color: #eb8467;
}