img {
    height:300px;
    width: 300px;
    /* centering image */
    display:block;
    margin-left:auto;
    margin-right:auto;
}
body {
    background-color:#FAEEDE;
    margin:5px;
}
h1 {
    padding-top:5px;
    margin: 10px;
    margin-left:25px;
    border-radius: 50%;
    font-weight:bold;
    text-align:center;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color:#FAEEDE;
    border: #FAEBD4;
    border-style: solid;
    position: sticky;
    position: -webkit-sticky;
    height: auto;
    top:0;
}
.logo {
    /* display:inline-block; */
    margin-left: 5em;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;

}
.logo a {
    text-decoration: none;
    background-image: url(/FinalProjectRepository/images/logo.png);
    height: 95px;
    width: 95px;
    /* centering image */
    display:block;
    margin-left:auto;
    margin-top:5px;
    margin-bottom: 5px;
}
.logonav {
    display:inline-flex;
}
a {
    position:static;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height:25px;
    width:50%;
}
/* vvv NAV BAR vvv */
ul {
    /* remove bullet point*/
    list-style-type: none;
    margin: 1px;
    padding: 0;
    position: sticky;
    top: 5px;
    display: inline-flex;    
}
li {
    line-height: 1.5;
    border-width: 1px;
    border-color:black;
    /* button size */
    padding: 14px;
}
nav {
    text-decoration: none;
    font-weight:bold;
    height:105px;
    padding: 0;
    text-align: center;
    border-top:0; 
    font-family: 'Roboto', serif;
    width:100%;
    background-color:#ef9c88;
    align-items: center;
}
a:link {
    color: black;
}
    /* visited link */
a:visited {
    color:#e14621;
}
    
    /* mouse over link */
a:hover {
    color:#e17b21;
}

    /* selected link */
a:active {
    color: blue;
}
    /* ^^^ NAV BAR ^^^ */
.footer{
    color: black;
    font-size: 25px;
    padding-top:10px;
    font-weight: bold;
    height: 100px;
    background-color:#c73c1b;
    display:flex;
    bottom:0;
    width:100%;
}
.footer a {
    text-decoration: none;
    color: orange;
    padding: 10px;
}
.footer i {
    padding: 5px;
    margin: 5px;
    color:black;
}