/* vvv NAV BAR vvv */
ul {
    /* remove bullet point*/
    list-style-type: none;
    margin: 1px;
    padding: 0;
    position: sticky;
    top: 5px;
    display: inline-flex;    
}
li {
    line-height: 1.5;
    border-width: 1px;
    border-color:black;
    /* button size */
    padding: 14px;
}
nav {
    font-weight:bold;
    height:50px;
    position: fixed;
    padding: 0;
    text-align: center;
    border-top:0; 
    font-family: 'Roboto', serif;
    width:100%;
    top:0;
    background-color: #17BEBB;
}
a:link {
    color: black;
}
    /* visited link */
a:visited {
    color:#237373;
}
    
    /* mouse over link */
a:hover {
    color: #17BEBB;
}

    /* selected link */
a:active {
    color: blue;
}
    /* ^^^ NAV BAR ^^^ */
.footer{
    color: black;
    font-size: 25px;
    padding-top:10px;
    font-weight: bold;
    height: 100px;
    background-color:purple;
    display:flex;
    bottom:0;
    width:100%;
    }