body {
    background-color:#FAEEDE;
    margin:5px;
    margin-top: 0;
}
header {
    background-color:#FAEEDE;
    position: sticky;
    position: -webkit-sticky;
    height: auto;
    top:0;
    margin-top:0;
    display:flex;
}
audio {
    margin-top: 25px;
    margin-left: auto;
    margin-right:auto;
}
.logo {
    margin-right: 250px;
    height: 150px;
}
.logo a {
    background-image: url(/FinalProjectRepository/logo.png);
    height: 105px;
    width: 105px;
    /* centering image */
    display:inline-block;
    margin-left:50px;
}
.logonav {
    display:flex;
}
a {
    position:static;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height:25px;
    width:50%;
}
/* vvv NAV BAR vvv */
ul {
    /* remove bullet point*/
    list-style-type: none;
    margin: 10px;
    padding: 0;
    position: sticky;
    top: 5px;
    display: inline-flex;
    float:right;  
    margin-left:auto;
    margin-right:50px;
}
li {
    line-height: 4;
    border-width: 1px;
    border-color:black;
    /* button size */
    padding: 10px;
    width:75px;
}
nav {
    font-weight:bold;
    height:105px;
    padding: 0;
    border-top:0;
    margin-top: 0;
    margin-bottom:5px; 
    width:100%;
    background-image: linear-gradient(
    130deg,
    hsl(34deg 74% 93%) 0%,
    hsl(29deg 77% 75%) 17%,
    hsl(23deg 78% 61%) 34%,
    hsl(12deg 76% 51%) 51%,
    hsl(23deg 78% 61%) 67%,
    hsl(29deg 77% 75%) 83%,
    hsl(34deg 74% 93%) 100%);
}
a:link {
    color: black;
}
    /* visited link */
a:visited {
    color:#4c190a;
}
    
    /* mouse over link */
a:hover {
    color:#e17b21;
}

    /* selected link */
a:active {
    color: blue;
}
    /* ^^^ NAV BAR ^^^ */
.footer{
    color: black;
    font-size: 25px;
    padding-top:10px;
    font-weight: bold;
    height: 100px;
    display:flex;
    justify-content: space-between;
    bottom:0;
    width:100%;
    margin: 0 auto;  
    background-image: linear-gradient(
  130deg,
    hsl(34deg 74% 93%) 0%,
    hsl(29deg 77% 75%) 17%,
    hsl(23deg 78% 61%) 34%,
    hsl(12deg 76% 51%) 51%,
    hsl(23deg 78% 61%) 67%,
    hsl(29deg 77% 75%) 83%,
    hsl(34deg 74% 93%) 100%);
}
.headspace a {
    text-decoration: none;
    padding: 10px;
    height:auto;
    width:200px;
}
.headspace i {
    padding: 5px;
    margin: 5px;
    color:#e17b21;
}
.facebook a {
    text-decoration: none;
    color: #4267B2;
    padding: 10px;
    height:auto;
    width:200px;
}
.facebook i {
    padding: 5px;
    margin: 5px;
    width:30px;
    height:40px   
}
.copyright {
    margin:5px;
    /* float:right; */
}
.copyright p {
    font-size: 16px;
    display:flex;
    text-align: center;
    margin:0;
    margin-top:10px;
}
