@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Joan&family=Roboto:wght@700&display=swap');
* {
    box-sizing: border-box;
}
h1 {
    padding-top:25px;
    margin:0;
}
header{
    background-color:#FAEEDE;
    border: #FAEBD4;
    border-style: solid;
}
img{
    height:300px;
    width: 300px;
    /* centering image */
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.wrapper {
    background-color:#FAEEDE;
 
}
a {
    position:sticky;
    float:left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:25px;
    width:50%;

}
    /* vvv NAV BAR vvv */
ul {
    /* remove bullet point*/
    list-style-type: none;
    margin: 1px;
    padding: 0;
    position: sticky;
    top: 5px;
    display: inline-flex;    
}
li {
    line-height: 1.5;
    border-width: 1px;
    border-color:black;
    /* button size */
    padding: 14px;
}
nav {
    font-weight:bold;
    height:50px;
    position: relative;
    padding: 0;
    text-align: center;
    border-top:0; 
    font-family: 'Roboto', serif;
}
a:link {
    color: black;
}
    /* visited link */
a:visited {
    color:#237373;
}
  
    /* mouse over link */
a:hover {
    color: #17BEBB;
}

    /* selected link */
a:active {
    color: blue;
}
    /* ^^^ NAV BAR ^^^ */
    /* vvv Section vvv */
section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
    margin: 140px;
    margin-top:0;
    margin-bottom:25px;
    height: 400px;
    width: 75%;
    display:block;
    background-image: url(/FinalProjectRepository/images/dropOwater.jpg);
    /* Section Text */
    text-align:center;
    font-size:35px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
section p{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
    
    /* ^^^ Section ^^^ */
    /* vvv Columns vvv */
.row{
    margin:0;
    background-color:#FAEEDE;
}
.column {
    float: left;
    width: 33%;
    padding: 10px;
    height: 300px;
}
.row:after {
    clear:both;
}
.column1{
    background-color: #4D9E9A;
    text-align: center;
    background-image: url(/FinalProjectRepository/images/water-drops-1314995.jpg);
    background-position:center;
    background-size: cover;
}
.column2{
    background-color: #17BEBB;
    text-align: center;
    background-image: url(/FinalProjectRepository/images/healing.jpg);
    background-position: center;
    background-size: cover;
}
.column3 {
    background-color: #237373;
    text-align: center;
    background-image: url(/FinalProjectRepository/images/growing2.jpg);
    background-position: center;
    background-size: cover;
}
.column1 p { 
    text-align: center;
    font-size: large;
    font-family: 'Joan', serif;
    font-weight: bold;
}
.column2 p { 
    text-align: center;
    font-size: large;
    font-family: 'Joan', serif;
    font-weight: bold;
}
.column3 p { 
    text-align: center;
    font-size: large;
    font-family: 'Joan', serif;
    font-weight: bold;
}
  /* ^^^ Columns ^^^ */
.footer{
    color: black;
    font-size: 25px;
    padding-top:10px;
    font-weight: bold;
    height: 100px;
    background-color:#FAEEDE;
}