@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Joan&family=Roboto:wght@700&display=swap');
* {
    box-sizing: border-box;  
}
.row:after {
    clear:both;
}
    /* vvv Section vvv */
.wrapper {
    background-color:#FAEEDE;
    /* position: relative; */
}
h2 {
    margin-top:0;
}
section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
    margin: 140px;
    margin-top:0;
    margin-bottom:25px;
    height: 400px;
    background-image: url(/FinalProjectRepository/images/dropOwater.jpg);
    /* Section Text */
    text-align:center;
    font-size:35px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
section p{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
    /* ^^^ Section ^^^ */
    /* vvv Columns vvv */
.row {
    background-color:#FAEEDE;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 400px;
    margin-bottom: 10px;
}
.column1{
    text-align: center;
    background-image: url(/FinalProjectRepository/images/water-drops-1314995.jpg);
    background-position:center;
    background-size: cover;
}
.column2{
    text-align: center;
    background-image: url(/FinalProjectRepository/images/healing.jpg);
    background-position: center;
    background-size: cover;
}
.column3 {
    text-align: center;
    background-image: url(/FinalProjectRepository/images/growing2.jpg);
    background-position: center;
    background-size: cover;
}
.column1 p { 
    text-align: center;
    font-size: large;
    font-family: 'Joan', serif;
    font-weight: bold;
}
.column2 p { 
    text-align: center;
    font-size: large;
    font-family: 'Joan', serif;
    font-weight: bold;
}
.column3 p { 
    text-align: center;
    font-size: large;
    font-family: 'Joan', serif;
    font-weight: bold;
}
  /* ^^^ Columns ^^^ */
