.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 400px;
    border-style: solid;
}
.column1{
    text-align: center;
    background-image: url(../images/race.jpg);
    background-position:center top;
    background-size:300px;
}
.column2{
    text-align: center;
    background-image: url(/FinalProjectRepository/images/healing.jpg);
    background-position: center;
    background-size: cover;
}
.column3 {
    text-align: center;
    background-image: url(/FinalProjectRepository/images/growing2.jpg);
    background-position: center;
    background-size: cover;
}